
    .intro__list {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;

        font-family: Inter, 'Arial', 'Helvetica';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        margin: 0 0 0 0;
    }    
    @media screen and (min-width: 768px) and (max-width: 1023px)
    {
        .intro__list{
            min-width: 720px;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px)
    {
        .intro__list{
            min-width: 690px;
        }
    }
    @media screen and (min-width: 1280px)
    {
        .intro__list{
            min-width: 690px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 767px)
    {
        .intro__list{
            min-width: 288px;
        }
    }
