.footer__text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    transition: opacity 1s linear;
    text-decoration: none;
}
.footer__text:hover {
    opacity: 0.8;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__text{
        font-size: 24px;
        line-height: 24px;
    }
}