.lead__subtitle {
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
@media screen and (min-width: 1280px) {
.lead__subtitle {
    width: calc(100% - 344px);
    min-width: 640px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__subtitle {
        width: calc(100% - 288px);
        min-width: 640px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        width: calc(100% - 128px);
        min-width: 640px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        width: calc(100% - 32px);
        min-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}