@media screen and (min-width: 1280px)
{
    .footer {
        width: calc(100% - 96px);
        min-width: 1184px;
        min-height: 18px;
        margin: 0 0 24px 0;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .footer {
        width: calc(100% - 96px);
        min-width: 928px;
        min-height: 18px;
        margin: 0 0 24px 0;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .footer {
        width: calc(100% - 48px);
        min-width: 720px;
        min-height: 18px;
        margin: 0 0 24px 0;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px)
{
    .footer {
        width: calc(100% - 134px);
        min-width: 186px;
        min-height: 310px;
        margin: 0 118px 24px 16px;
    }
}